*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
button {
  border: none;
  cursor: pointer;
  background-color: transparent;
  outline: none;
}
@import 'components/font';
@import 'components/colors';
@import 'components/layout';
@import 'components/header';
@import 'components/home';
@import 'components/buttons';
@import 'components/category';
@import 'components/about';
@import 'components/trick';
@import 'components/discount';
@import 'components/new';
@import 'components/newsletter';
@import 'components/footer';
@import 'components/scroll';
@import 'components/breakpoints';
@import 'components/keyframes';
@import 'components/modal';