
@use 'sass:list';
@use 'sass:map';

$colors: (
  dark: (hsl(30, 8%, 8%), hsl(18, 28%, 40%), hsl(58, 28%, 40%)),
  light: (hsl(30, 8%, 8%), hsl(360, 28%, 40%), hsl(104, 28%, 40%)));
$color: random(list.length(map.get($colors, dark)));
$color-random-dark: list.nth(map.get($colors, dark), $color);
$color-random-light: list.nth(map.get($colors, light), $color);

// @see https://github.com/bedimcode/responsive-halloween-website/blob/main/assets/scss/config/_variables.scss
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  --body-color: linear-gradient(90deg, #{$color-random-light} 0%, #{$color-random-dark} 100%);
  --container-color: linear-gradient(136deg, lighten(#{$color-random-light}) 0%, lighten(#{$color-random-dark}) 100%);
  --hue: 14;
  --first-color: hsl(var(--hue), 91%, 54%);
  --first-color-alt: hsl(var(--hue), 91%, 50%);
  --title-color: hsl(var(--hue), 4%, 100%);
  --text-color: hsl(var(--hue), 4%, 85%);
  --text-color-light: hsl(var(--hue), 4%, 55%);

  /*========== Font and typography ==========*/
  --body-font: #{$font-family-default};
  --biggest-font-size: 2.25rem;
  --h1-font-size: 1.75rem;
  --h2-font-size: 1.3333rem;
  --h3-font-size: #{$font-size-default};
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  // Responsive typography
  @media screen and (min-width: 992px) {
    --biggest-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.75rem;
    --h3-font-size: 1.3333rem;
    --normal-font-size: #{$font-size-default};
    --small-font-size: .938rem;
    --smaller-font-size: .813rem;
  }

  /*========== Font weight ==========*/
  --font-medium: #{$font-weight-default};
  --font-semi-bold: #{$font-weight-default};
  --font-black: #{$font-weight-default};

  /*========== Margin bottom ==========*/
  --mb-0-25: .25rem;
  --mb-0-5: .5rem;
  --mb-0-75: .75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}