/*=============== NEW ARRIVALS ===============*/
.new {
  &__container {
    padding-top: 1rem;
  }
  &__img {
    transition: 0.3s;
    margin-bottom: var(--mb-0-5);
    width: 120px;
  }
  &__content {
    position: relative;
    border-radius: 0.75rem;
    background: var(--container-color);
    padding: 2rem 0 1.5rem 0;
    width: 242px;
    overflow: hidden;
    text-align: center;

    &:hover .new__img {
      transform: translateY(-0.5rem);
    }

    &:hover .new__button {
      right: 0;
    }
  }
  &__tag {
    position: absolute;
    top: 8%;
    left: 8%;
    border-radius: 0.25rem;
    background-color: var(--first-color);
    padding: 0.25rem 0.5rem;
    color: var(--title-color);
    font-size: var(--small-font-size);
  }
  &__title {
    font-weight: var(--font-medium);
    font-size: var(--normal-font-size);
  }
  &__subtitle {
    display: block;
    margin-bottom: var(--mb-0-75);
    font-size: var(--small-font-size);
  }
  &__prices {
    display: inline-flex;
    column-gap: 0.5rem;
    align-items: center;
  }
  &__price {
    color: var(--title-color);
    font-weight: var(--font-medium);
  }
  &__discount {
    color: var(--first-color);
    font-weight: var(--font-medium);
    font-size: var(--smaller-font-size);
    text-decoration: line-through;
  }
  &__button {
    display: inline-flex;
    position: absolute;
    right: -3rem;
    bottom: 0;
    border-radius: 0.25rem 0.25rem 0.75rem 0.25rem;
    padding: 0.5rem;
  }
  &__icon {
    font-size: 1.25rem;
  }
}
