<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Responsive Website</title>
        <block name="styles">
            <!--=============== FAVICON ===============-->
            <link rel="shortcut icon" href="../assets/img/favicon.png" type="image/x-icon">
            <!--=============== BOXICONS ===============-->
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@2.1.4/css/boxicons.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
            <!--=============== SWIPER CSS ===============-->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/10.0.4/swiper-bundle.min.css" integrity="sha512-Chxzu1hIgdTWzvBYD6rifXuhsG91mXCtYP/hKHSHPRyYUluMJt3PVEE6k4ThFrE4l0NVnq9dfYSj7mEubGCTvw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
            <!--=============== CSS ===============-->
            <link rel="stylesheet" href="../assets/scss/styles.scss">
        </block>
    </head>
    <body>
        <!--==================== HEADER ====================-->
        <header class="header" id="header">
            <block name="header"><include src="partial/header.html"></include></block>
        </header>
        <!--==================== MAIN ====================-->
        <main class="main">
            <block name="content"><include src="partial/content.html"></include></block>
        </main>
        <!--==================== FOOTER ====================-->
        <footer class="footer section">
            <block name="footer"><include src="partial/footer.html"></include></block>
        </footer>
        <!--=============== SCROLL UP ===============-->
        <a href="#" class="scrollup" id="scroll-up">
            <i class='bx bx-up-arrow-alt scrollup__icon'></i>
        </a>
        <block name="scripts">
            <!--=============== SCROLL REVEAL ===============-->
            <script src="https://cdn.jsdelivr.net/npm/boxicons@2.1.4/dist/boxicons.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <!--=============== SWIPER JS ===============-->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/10.0.4/swiper-bundle.min.js" integrity="sha512-0N/5ZOjfsh3niel+5dRD40HQkFOWaxoVzqMVAHnmAO2DC3nY/TFB7OYTaPRAFJ571IRS/XRsXGb2XyiFLFeu1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <!--=============== MAIN JS ===============-->
            <script src="../assets/js/main.js" type="module"></script>
        </block>
    </body>
</html>