<nav class="nav container">
  <a href="#" class="nav__logo">
    <img src="../img/logo.png" alt="" class="nav__logo-img" />
    Halloween
  </a>

  <div class="nav__theme">
    <a
      href="#"
      class="button button--ghost color-switcher forest-switcher"
      title="Forest color theme"
      >&nbsp;</a
    >
    <a
      href="#"
      class="button button--ghost color-switcher fire-switcher"
      title="Fire color theme"
      >&nbsp;</a
    >
    <a
      href="#"
      class="button button--ghost color-switcher earth-switcher"
      title="Earth color theme"
      >&nbsp;</a
    >
    <a
      href="#"
      class="button button--ghost color-switcher air-switcher"
      title="Air color theme"
      >&nbsp;</a
    >
    <a
      href="#"
      class="button button--ghost color-switcher water-switcher"
      title="Water color theme"
      >&nbsp;</a
    >
    <a
      href="#"
      class="button button--ghost color-switcher high-switcher"
      title="High contrast color theme"
      >&nbsp;</a
    >
  </div>

  <div class="nav__menu" id="nav-menu">
    <ul class="nav__list">
      <li class="nav__item">
        <a href="#home" class="nav__link active-link">Home</a>
      </li>

      <li class="nav__item">
        <a href="#about" class="nav__link">About</a>
      </li>

      <li class="nav__item">
        <a href="#trick" class="nav__link">Candy</a>
      </li>

      <li class="nav__item">
        <a href="#new" class="nav__link">New</a>
      </li>

      <li class="nav__item">
        <a href="#" class="button button--ghost">Support</a>
      </li>
    </ul>

    <div class="nav__close" id="nav-close">
      <i class="bx bx-x"></i>
    </div>

    <img src="../img/nav-img.png" alt="" class="nav__img" />
  </div>

  <div class="nav__toggle" id="nav-toggle">
    <i class="bx bx-grid-alt"></i>
  </div>
</nav>
