<!-- @see https://codepen.io/zeeshanmukhtar1/pen/ExGGMgw -->
<div class="dropdown-container footer__social-dropdown">
  <button class="dropdown-button main-button">
    <span class="dropdown-title-icon">
      <i class="bx bx-share-alt"></i>
    </span>
    <span class="dropdown-title text-truncate">Get connected</span>
    <span class="dropdown-arrow">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
        <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
      </svg>
    </span>
  </button>
  <div class="dropdown-list-container">
    <div class="dropdown-list-wrapper">
      <ul class="dropdown-list"></ul>
      <div class="floating-icon" aria-hidden="true"></div>
    </div>
  </div>
</div>